.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  top: 80px;
  font-size: 5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 10px solid gray;
  position: relative;
}
