footer {
  display: flex;
  min-height: 480px;
  flex-direction: row;
  z-index: 1;

  padding-bottom: 80px;
}

.footer-container {
  flex: 0 0 70%;
  flex-direction: column;
  justify-content: flex-end;

  border: 0px solid black;
}

.footer-content {
  flex-direction: row;
  margin-top: 40px;
  
  border: 0px solid red;
}

.contact-info {
  flex: 1 2 100%;
  color: white;

  border: 1px solid yellow;
}

.contact-info ul li {
  color: white;
}

.contact-form {
  flex: 1 1 100%;

  color: white;
  border: 0px solid yellow;
}

.copyright {
  flex: 0 1 10%;
  justify-content: center;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 50px;

  border: 0px solid white;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.copyright p { 
  padding-top: 10px;
  color: white;
}

/* contact form */

.contact-form input, textarea {
  background: transparent;
  flex: 1 1 100%;
  border: 1px solid #a3c2e2;
  border-radius: 2px;
  padding: 8px;
  margin: 5px;
  font-weight: 200;
  color: white;
}

.contact-form .form-name-email {
  flex-direction: row;

}

.footer-content ul {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  cursor: default;
  list-style: none;
}

.contact-form .button {
  background-color: transparent;
  color: white;
  border: 4px double #a3c2e2;
  border-radius: 0;
  padding: 10px;
  margin-top: 20px;
}

.footer-content h2 {
  margin: 5px;
  margin-bottom: 20px;
}