.home-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  border: 0px solid green; 
}
.content {
  display: flex;
  flex-direction: row;
  flex: 1 0 100%;
  align-items: center;
  justify-content: center;

  z-index: 100;

  border: 5px solid yellow; 
}

.medium {
  flex: 1 0 75%;
}
.auto {
  flex: 1 0 auto;
}

.dark-1 {
  background: #3f80c3;
}

.dark-2 {
  background: gray;
}

.md-l {
  flex: 0 0 75vh;
}

.md {
  flex: 1 0 50vh;
}

.sm {
  flex: 0 0 25vh;
}

.test-brd {
  border: 1px solid red;
}

/* wave block */
.content .wave {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;

  border-bottom: 4rem solid white;
  border-top: 4rem solid white;

  border: 5px solid black;
}

.content .wave-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;

  margin-top: 3%;
  margin-left: 3%;
  text-align: left;

  border: 0px solid green;
}
/* --- end ---*/

/* key facts section */
.facts-img {
  flex: 0 0 25%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;

  border: 1px solid black;
}
.facts-column {
  flex: 1 1 100%;
  flex-direction: column;

  border: 5px solid red;
}

.facts-item {
  flex: 1 1 100%;
  flex-direction: row;
  align-items: center;
  /*padding-right: 20px;*/

  border: 4px double black; 
}

.facts-pic {
  flex: 1 1 25%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: content-box;
  /*min-width: 100px;*/

  /*padding: 30px;*/

  border: 5px solid green;
}

.facts-item p {
  border: 5px solid purple;
}

.kandui-txt {
  /*font-size: 1.2rem; */
  font-weight: 800;
  color: #00aee6;

  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.content h1 {
  padding: 0;
  margin: 0;
}

/* small screen styles */
@media screen and (max-width: 1000px) {
  .trip-img {
    display: none;
  }

  .content.flex-row {
    flex-direction: column;
    flex: 1 0 auto;

    border: 1px solid pink;
  }
  .content .trip-content {
    flex: 1 0 auto;
  }
}
