.home-wrapper {
  display: flex;
  flex-direction: column;

  /* border: 20px solid green; */
}
.content {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  /* border: 10px solid gray; */
}

.dark-1 {
  background: #3f80c3;
}

.dark-2 {
  background: gray;
}

.md-l {
  flex: 0 0 75%;
}

.md {
  flex: 1 0 50%;
}

.sm {
  flex: 0 0 25%;
}

.test-brd {
  border: 1px solid red;
}

.content .wave {
  flex: 0 0 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;

  border-bottom: 4rem solid white;
  border-top: 4rem solid white;
}

.content .wave-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;

  margin-top: 3%;
  margin-left: 3%;
  text-align: left;

  border: 0px solid green;
}

.trip-img {
  flex: 0 0 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;

  border: 0px solid black;
}

.trip-content {
  flex: 1 1 100%;
  flex-direction: column;

  border: 0px solid red;
}

.trip-desc {
  flex: 1 1 100%;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;

  /* border: 4px double black; */
}

.trip-pic {
  flex: 0 0 25%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: content-box;

  padding: 30px;

  border: 0px solid green;
}

.kandui-txt {
  /*font-size: 1.2rem; */
  font-weight: 800;
  color: #00aee6;

  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.content h1 {
  padding: 0;
  margin: 0;
}