.home-wrapper {
  display: flex;
  flex-direction: column;

  /* border: 20px solid green; */
}
.content {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1vw;

  /* border: 10px solid gray; */
}

.dark {
  background: grey;
}

.slim {
  flex: 1 0 70%;
}

.content .wave {
  flex: 0 0 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;

  border: 0px solid red;
}
.content .wave-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;

  margin-top: 3%;
  margin-left: 3%;
  text-align: left;

  border: 0px solid green;
}

.wave-text h1 {
  padding: 0;
  margin: 0;
}