.header-menu-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: inherit;
}
.header-menu-item {
  display: inline-block;
  height: 100%;
  border: 0px solid white;
  line-height: 80px;
  text-align: center;
  padding-right: 9px;
  padding-left: 9px;
  font-weight: bold;
}
.header-menu-item:hover {
  background-color: pink;
  transition-duration: 0.5s;
  color: black;
}
.menu-item-active {
  background-color: pink;
  color: black;
}
.header-booking-button {
  display: flex;
  flex-direction: row;
  color: white;
  height: 40px;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-weight: bold;
  background-color: rgb(0, 174, 230);
}
.header-booking-button img {
  height: 20px;
  padding-right: 12px;
}
.header-booking-button:hover {
  background-color: rgba(0, 174, 230, 0.8);
  color: black;
}
.header-menu-ul {
  position: absolute;
  height: auto;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-left: -9px;
  top: 80px;
  color: white;
}
.header-menu-li {
  display: flex;
  align-items: center;
  background-color: gray;
  height: 40px;
  min-width: 150px;
  padding-left: 5px;
  color: white;
}
.header-menu-li:hover {
  background-color: pink;
  color: black;
}
