.header-menu-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-menu-item {
  display: inline-block;
  height: 100%;
  color: white;
  border: 0px solid white;
  line-height: 80px;
  text-align: center;
  padding-right: 9px;
  padding-left: 9px;
  font-weight: bold;
}
.header-menu-item:hover {
  background-color: pink;
  transition-duration: 0.5s;
}
