/* common styles */

.bm-menu-wrap {
  min-width: 100%;
}

.bm-menu-wrap * {
  all: unset;
}

/* Position and sizing of burger button */
.bm-burger-button {
  top: 25px;
  width: 36px;
  height: 30px;
}

/* Color/shape of burger icon bars */
.transparent .bm-burger-bars {
  background: #ffffff;
}
.black-text .bm-burger-bars {
  border: 1px solid black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 100%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8rem;
}

.menu-item {
  display: block;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
  border: 3px solid white;
  color: white;
}

/* small screen styles */
@media screen and (min-width: 901px) {
  .bm-burger-button {
    display: none;
  }
}
