body {
  margin: 0;
  padding: 0;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: rgb(72, 72, 72);
  -webkit-font-smoothing: antialiased;
}

a {
  color: black;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
}

/* experimental scrolling fix */
/*.mdl-layout {
    overflow: visible;
}
.mdl-layout__drawer {
    position: fixed;
}
.mdl-layout__content {
    display: block;
    overflow: visible;
    margin-top: 64px;
}
.is-small-screen .mdl-layout__content {
    margin-top: 56px;
}
.mdl-layout__header {
    position: fixed;
}
.mdl-layout__obfuscator {
    position: fixed;
}*/
/* ------------------------- */
