.typewriter {
  display: flex;
  flex-direction: row;
  color: inherit;
  align-items: flex-start;
}
.cursor {
  animation: cursor 1s steps(1) infinite;
}

@keyframes cursor {
  50% {
    color: transparent;
  }
}
